<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
    <link rel="stylesheet" href="../views/detailsCss/details.css">
</head>
<body>
    <main>
        <section class="topSection__Area">
            <div class="principal_imageArea">
                <a href="../index.html"><img src="/views/storageDetails/detailsImg/backToLeft.png" alt="" class="backToindex"></a>
                <img src="../views/storageDetails/detailsImg/principal_image.png" alt="" class="mainImage">
            </div>
            <div class="principalImage__containerText">
                <h3>Coldplay <span>: Music of the Spheres</span></h3>
                <p>Gelora Bung Karno Stadium, Jakarta</p>
                <p>November 15 2023</p>
                <div class="container__Participants">
                    <img src="../views/storageDetails/detailsImg/participants.png" alt="">
                    <p>50K+ Participants</p>
                </div>
            </div>
        </section>
        <section class="section__descriptionArea">
            <div class="container__descriptionText">
                <h4>Description</h4>
                <p>Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa. Mauris a nisi ut sapien blandit imperdi. Interdum et malesuada fames ac ante ipsum primis in faucibs. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet. <span>Read More..</span></p>
            </div>
        </section>
    </main>

</body>
</html>