<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
    <link rel="stylesheet" href="../views/ticketsCss/tickets.css">
</head>
<body>
    <main>
        <section>
            <div class="buttomTop__tickets">
                <a href="../views/details.html"><img src="/views/storageDetails/detailsImg/backToLeft.png" alt="" class="backToindex"></a>
                <a href="#"><img src="../views/storageTicket/imgTicket/menuTop.png" alt=""></a>
            </div>
        </section>
        <section class="section__tickets">
            <div class="container__ticket">
                <div class="topArea__ticket">
                    <img src="storageTicket/imgTicket/tickectImage.png" alt="">
                    <h2>Coldplay : Music of the Spheres</h2>
                    <p>Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</p>
                </div>
                <div class="ticketDetails__Container">
                    <div class="ticketTexts__Container">
                        <div class="textAreaLeft">
                            <span>Name</span>
                            <h4>Indriyani Puspita</h4>
                        </div>
                        <div class="textAreaRight">                            <span>Order Number</span>
                            <h4>CLD09738PL</h4>
                        </div>
                    </div>
                    <div class="ticketTexts__Container">
                        <div class="textAreaLeft">
                            <span>Date</span>
                            <h4>Nov 15 2023</h4>
                        </div>
                        <div class="textAreaRight">                            <span>Time</span>
                            <h4>9:00 PM</h4>
                        </div>
                    </div>
                    <div class="ticketTexts__Container">
                        <div class="textAreaLeft">
                            <span>Gate</span>
                            <h4>Yellow</h4>
                        </div>
                        <div class="textAreaRight">                            <span>Seat</span>
                            <h4>West B</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    
</body>
</html>